{
   "env": {
     "browser": true,
     "es6": true,
     "node": true
   },
   "parserOptions": {
     "ecmaVersion": 8,
     "sourceType": "module",
     "ecmaFeatures": {
       "jsx": true,
       "modules": true,
       "experimentalObjectRestSpread": true
     }
   },
   "rules": {
     "new-cap": 0,
     "indent": "off",
     "arraysInObjects": 0,
     "require-jsdoc": [
       "error",
       {
         "require": {
           "FunctionDeclaration": false,
           "MethodDefinition": false,
           "ClassDeclaration": false,
           "ArrowFunctionExpression": false,
           "FunctionExpression": false
         }
       }
     ]
   }
 }
 