$main-color:rgb(107, 255, 206);
$main-color-lighter:rgb(179, 255, 229);
$main-color-darker:rgb(0, 199, 133);
$main-color-dark:rgb(0, 119, 79);
$header-color:rgb(29, 29, 29);
$error-color:rgb(236, 0, 110);
$error-color-darker:rgb(156, 0, 73);